body{
    display: flex;
    justify-content: center;
    align-items:  center;
    padding-top: 200px;
}

.tamanho{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 400px;
    background-color: azure;
    border-radius: 20px;
}


li{
    display: flex;
    text-align: center;
    padding: 0px;
    font-size: 19px;
    border-radius: 4px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 20px;
}
li:hover{
    cursor: pointer;
    background-color: rgb(219, 234, 234);
    transition: 0.2s;
}

.nome{
    margin-top: 20px;
    width: 180px;
    text-align: left;
    margin-right: 90px;
}

.quantidade{
    margin-top: 20px;
    width: 100px;
    text-align: center;
    margin-right: 90px;
}

.preco{
    margin-top: 20px;
    width: 110px;
    text-align: right;
    padding-bottom: 20px;
}

.botao{
    margin-top: 0px;
    padding: 10px;
    font-size: 24px;
    background-color: #5bba6f;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}
main .botao1{
    background-color: #ff312e;
}

main .botao1:hover{
    background-color: #ab2a27;
}
.botao:hover{
    cursor: pointer;
    transition: 0.8s;
    background-color: rgba(39, 63, 39, 0.957);
}


#nomes{
    background-color: rgba(0, 0, 0, 0.597);
    font-weight: bold;
    color: white;
}